---
import Layout from "@/layout/index.layout.astro";
import Header from "@/components/astro/Header.astro";
import Container from "@/components/astro/Container.astro";
import SharpImage from "@/components/astro/SharpImage.astro";
---

<Layout title="website" darkMode={true}>
  <Container>
    <div class:list={["grid gap-2"]}>
      <Header />
      <SharpImage src="shrek.jpg" width={960} height={480} />
    </div>
  </Container>
</Layout>
